@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: red;
  }

.nav-link {
    color: white;
}

.has-gray-color {
    color: rgb(68, 67, 67);
}

tr:nth-child(even) {
    background-color: lightgray;
  }

.shader {
    box-shadow: 10px 5px 5px green;
    transition: box-shadow 2s;
}

.shader:hover {
    box-shadow: 10px 5px 5px blue;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
    margin-bottom: 600px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }


footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0;
    position: fixed;
    bottom: 0;
    background-color: lightgreen;
    width: 100%;
}

img {
    height: 200px;
  }

a {
    color: darkgreen;
    text-decoration: none;
}

a:hover {
    color: green;
}
